*, *:after, *:before {
  box-sizing: border-box;
}

body {
  width: 100%;

}

.insider {
  display: inline;
}
header {
  width: 66%;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  background: black;
  color: white;
}

article {
  width: 66%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

article:not(:first-child) {
  border-top: 1px solid #EDE;
}
